.action-button {
  position: absolute;
  top: 20%;
  left: 50%;
}

/* .wj-cell.wj-align-left {
  text-align: center;
} */

.wj-cell.wj-header.wj-align-left {
  display: flex !important;  
  justify-content: center !important;
  align-items: center !important;
}

.transposedGrid{
  height: 150px;
}